# Definitions:

In [ ]:
NumPy is a Python library used for working with arrays.

NumPy stands for Numerical Python.

# Numpy Functions

# 1. Array:

In [ ]:
It is used to create one-dimensional or multidimensional arrays from scratch.

In [1]:
import numpy as np
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

# 2. Linspace:

In [ ]:
Creates an array with evenly spaced float numbers over a specified interval.

In [2]:
np.linspace(10,100,10)

array([ 10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100.])

# 3. Arange:

In [3]:
np.arange(5,10)

array([5, 6, 7, 8, 9])

In [4]:
np.arange(5,10,2)
#(starting point,ending point,steps point)

array([5, 7, 9])

# 4. Random.randint:

In [ ]:
Generate n random integer samples within a range.

In [6]:
np.random.randint(5,10,10)

array([8, 9, 8, 9, 9, 6, 5, 7, 8, 7])

# 5. Random.random:

In [ ]:
Generate n random float samples.

In [7]:
np.random.random(3)

array([0.73512966, 0.22030493, 0.28214624])

# 6. Logspace:

In [ ]:
Generate evenly spaced numbers on a log scale.

In [8]:
np.logspace(0,10,5,base=2)

array([1.00000000e+00, 5.65685425e+00, 3.20000000e+01, 1.81019336e+02,
       1.02400000e+03])

# 7. Array of zero:

In [ ]:
np.zeroes function helps to create an array of 0

In [12]:
np.zeros((2,3),dtype='int')

array([[0, 0, 0],
       [0, 0, 0]])

# 8. Array of Ones:

In [ ]:
np.ones function helps to create an array of 1.

In [13]:
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

# 9. Array of k Random Value:

In [ ]:
Creates an n-dimensional array of a random value.
fill_value: Random value to fill inside the array.

In [14]:
np.full((2,4),fill_value=2)

array([[2, 2, 2, 2],
       [2, 2, 2, 2]])

In [15]:
np.full((4,6),fill_value=9)

array([[9, 9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9, 9]])

# -- Array Operations --

# Min:

In [ ]:
Return the minimum value from the array.

In [16]:
arr = np.array([1,1,2,3,3,4,5,6,6,2])
np.min(arr)

1

## Max:

In [ ]:
Return the maximum value from the array.

In [17]:
arr = np.array([1,1,2,3,3,4,5,6,6,2])
np.max(arr)

6

# Unique:

In [ ]:
Return an array with all the unique elements sorted.

In [21]:
arr = np.array([1,1,2,3,3,4,5,6,6,2])

np.unique(arr,return_index=True,return_counts=True,axis=None)

(array([1, 2, 3, 4, 5, 6]),
 array([0, 2, 3, 5, 6, 7], dtype=int64),
 array([2, 2, 2, 1, 1, 2], dtype=int64))

# Mean:

In [ ]:
It is used to get the mean of the array.

In [23]:
arr = np.array([1,1,2,3,3,4,5,6,6,2])
np.mean(arr,dtype='int')

3

# Median:

In [ ]:
Return the median value of the array.

In [24]:
arr = np.array([[1,2,3],[5,8,4]])
np.median(arr)

3.5

# Reshape:

In [ ]:
It is one of the most used functions of NumPy. It Returns an array containing the 
same data with a new shape.

In [29]:
A = np.random.randint(15,size=(4,3))
A

array([[12, 10,  7],
       [14,  1, 11],
       [ 1,  5, 11],
       [ 8, 12,  2]])

In [27]:
A = np.random.randint(18,size=(6,5))
A

array([[ 3, 17,  6, 11,  9],
       [16,  0,  6, 17,  6],
       [ 6, 13, 17,  9, 13],
       [16,  6, 14, 14, 14],
       [15, 16,  6,  3,  7],
       [17,  7, 13, 12,  5]])

In [30]:
A.reshape(3,4)

array([[12, 10,  7, 14],
       [ 1, 11,  1,  5],
       [11,  8, 12,  2]])

# Squeeze:

In [ ]:
Reduce the dimension of an array by removing single-dimensional entrie.

In [31]:
arr = np.array([[ 8],[14],[ 1],[ 8],[11],[ 4],[ 9],[ 4],[ 1],[13],[13],[11]])
np.squeeze(arr)

array([ 8, 14,  1,  8, 11,  4,  9,  4,  1, 13, 13, 11])

In [33]:
arr = np.array([[ 8],[14],[ 1],[ 8],[11],[ 4],[ 9],[ 4],[ 1],[13],[13],[11]])
arr

array([[ 8],
       [14],
       [ 1],
       [ 8],
       [11],
       [ 4],
       [ 9],
       [ 4],
       [ 1],
       [13],
       [13],
       [11]])

# Count Non-Zero:

In [ ]:
Count all the non-zero elements and return their count.

In [35]:
a = np.array([0,0,1,1,1,0,5,7])
np.count_nonzero(a)

5

# argwhere:

In [ ]:
Find and return all the indices of non-zero elements.

In [36]:
a = np.array([0,0,1,1,1,0])
np.argwhere(a)

array([[2],
       [3],
       [4]], dtype=int64)

# argmax:

In [ ]:
argmax returns the index of the max element from the array.

In [37]:
arr = np.array([[0.12,0.64,0.19,0.05]])
np.argmax(arr)

1

# argmin:

In [ ]:
argmin will return the index of the lowest element from the array.

In [40]:
arr = np.array([[0.12,0.64,0.19,0.05]])
np.argmin(arr)

3

# Sort:

In [ ]:
Sort the array and return.

In [41]:
arr = np.array([2,3,1,7,4,5])
np.sort(arr)

array([1, 2, 3, 4, 5, 7])

# Abs:

In [ ]:
Return the absolute values of elements inside an array. It is useful 
when an array contains negative values.

In [42]:
A = np.array([[1,-3,4],[-2,-4,3]])
np.abs(A)

array([[1, 3, 4],
       [2, 4, 3]])

In [43]:
b=np.array([-8,9,2,5,-4,-6,-56,-8,-3])
np.abs(b)

array([ 8,  9,  2,  5,  4,  6, 56,  8,  3])

# Round

In [ ]:
Round the float values to a specified number of decimal points.

decimals: Number of decimals point to keep.

In [44]:
a = np.random.random(size=(3,4))
a

array([[0.79001881, 0.49891383, 0.62879553, 0.94258639],
       [0.1841263 , 0.51911255, 0.91157893, 0.60257206],
       [0.4258092 , 0.74668997, 0.49866824, 0.63414114]])

In [45]:
np.round(a,decimals=0)

array([[1., 0., 1., 1.],
       [0., 1., 1., 1.],
       [0., 1., 0., 1.]])

In [46]:
np.round(a,decimals=1)

array([[0.8, 0.5, 0.6, 0.9],
       [0.2, 0.5, 0.9, 0.6],
       [0.4, 0.7, 0.5, 0.6]])

# Clip:

In [ ]:
It is used to keep the values of an array within a range.

In [47]:
arr = np.array([0,1,-3,-4,5,6,7,2,3])
arr.clip(0,5)

array([0, 1, 0, 0, 5, 5, 5, 2, 3])

In [48]:
arr = np.array([0,1,-3,-4,5,6,7,2,3])
arr.clip(0,3)

array([0, 1, 0, 0, 3, 3, 3, 2, 3])

In [49]:
arr = np.array([0,1,-3,-4,5,6,7,2,3])
arr.clip(3,5)

array([3, 3, 3, 3, 5, 5, 5, 3, 3])

# Where:

In [50]:
a = np.arange(12).reshape(4,3)
a

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [51]:
np.where(a>5)

(array([2, 2, 2, 3, 3, 3], dtype=int64),
 array([0, 1, 2, 0, 1, 2], dtype=int64))

# Union:

In [ ]:
union function will combine both arrays into one.

In [53]:
a = np.array([1, 2, 3, 4, 5])
b = np.array([1, 3, 5, 4, 36])
np.union1d(a,b)

array([ 1,  2,  3,  4,  5, 36])

# -- Splitting --

# Horizontal Split:

In [ ]:
hsplit function will split the data horizontally into n equal parts.

In [54]:
A = np.array([[3,4,5,2],[6,7,2,6]])
np.hsplit(A,2)
## splits the data into two equal parts

[array([[3, 4],
        [6, 7]]),
 array([[5, 2],
        [2, 6]])]

In [55]:
np.hsplit(A,4)    ## splits the data into four equal parts

[array([[3],
        [6]]),
 array([[4],
        [7]]),
 array([[5],
        [2]]),
 array([[2],
        [6]])]

# Vertical Split:

In [ ]:
vsplit will split the data vertically into n equal parts.

In [56]:
A = np.array([[3,4,5,2],[6,7,2,6]])
np.vsplit(A,2)

[array([[3, 4, 5, 2]]), array([[6, 7, 2, 6]])]

# -- Stacking --

# Horizontal Stacking:

In [ ]:
hstack will stack appends one array at the end of another.

In [57]:
a = np.array([1,2,3,4,5])
b = np.array([1,4,9,16,25])
np.hstack((a,b))

array([ 1,  2,  3,  4,  5,  1,  4,  9, 16, 25])

# Vertical Stacking:

In [ ]:
vstack will stack one array on top of another.

In [59]:
a = np.array([1,2,3,4,5])
b = np.array([1,4,9,16,25])
np.vstack((a,b))

array([[ 1,  2,  3,  4,  5],
       [ 1,  4,  9, 16, 25]])

# Repeat:

In [ ]:
It is used to repeat elements of an array for n number of times.

In [60]:
np.repeat('2017',3)

array(['2017', '2017', '2017'], dtype='<U4')

In [61]:
import pandas as pd

In [62]:
fruits = pd.DataFrame([
    ['Mango',40],
    ['Apple',90],
    ['Banana',130]
],columns=['Product','ContainerSales'])
fruits

  Product  ContainerSales
0   Mango              40
1   Apple              90
2  Banana             130

In [63]:
# In the dataset, the year column is missing. Let‚Äôs try to add it using numpy.
fruits['year'] = np.repeat(2020,fruits.shape[0])
fruits

  Product  ContainerSales  year
0   Mango              40  2020
1   Apple              90  2020
2  Banana             130  2020

# Save:

In [ ]:
savetxt used to save the content of an array inside a text file.

In [64]:
''' Generate array with 500 elements '''

arr = np.linspace(10,100,500).reshape(25,20) 

##‚óæ ùó¶ùóÆùòÉùó≤ùòÄ ùóîùóøùóøùóÆùòÜ ùóóùóÆùòÅùóÆ ùóúùóªùòÄùó∂ùó±ùó≤ ùóÆ ùòÅùòÖùòÅ ùóôùó∂ùóπùó≤
np.savetxt('array.txt',arr)

# Load:

In [ ]:
loadtxt used to load the content of an array from a text file. It takes the 
file name as a parameter.

In [65]:
np.loadtxt('array.txt')

array([[ 10.        ,  10.18036072,  10.36072144,  10.54108216,
         10.72144289,  10.90180361,  11.08216433,  11.26252505,
         11.44288577,  11.62324649,  11.80360721,  11.98396794,
         12.16432866,  12.34468938,  12.5250501 ,  12.70541082,
         12.88577154,  13.06613226,  13.24649299,  13.42685371],
       [ 13.60721443,  13.78757515,  13.96793587,  14.14829659,
         14.32865731,  14.50901804,  14.68937876,  14.86973948,
         15.0501002 ,  15.23046092,  15.41082164,  15.59118236,
         15.77154309,  15.95190381,  16.13226453,  16.31262525,
         16.49298597,  16.67334669,  16.85370741,  17.03406814],
       [ 17.21442886,  17.39478958,  17.5751503 ,  17.75551102,
         17.93587174,  18.11623246,  18.29659319,  18.47695391,
         18.65731463,  18.83767535,  19.01803607,  19.19839679,
         19.37875752,  19.55911824,  19.73947896,  19.91983968,
         20.1002004 ,  20.28056112,  20.46092184,  20.64128257],
       [ 20.82164329,  21.00200401,  21.18236473,  21.36272545,
         21.54308617,  21.72344689,  21.90380762,  22.08416834,
         22.26452906,  22.44488978,  22.6252505 ,  22.80561122,
         22.98597194,  23.16633267,  23.34669339,  23.52705411,
         23.70741483,  23.88777555,  24.06813627,  24.24849699],
       [ 24.42885772,  24.60921844,  24.78957916,  24.96993988,
         25.1503006 ,  25.33066132,  25.51102204,  25.69138277,
         25.87174349,  26.05210421,  26.23246493,  26.41282565,
         26.59318637,  26.77354709,  26.95390782,  27.13426854,
         27.31462926,  27.49498998,  27.6753507 ,  27.85571142],
       [ 28.03607214,  28.21643287,  28.39679359,  28.57715431,
         28.75751503,  28.93787575,  29.11823647,  29.29859719,
         29.47895792,  29.65931864,  29.83967936,  30.02004008,
         30.2004008 ,  30.38076152,  30.56112224,  30.74148297,
         30.92184369,  31.10220441,  31.28256513,  31.46292585],
       [ 31.64328657,  31.82364729,  32.00400802,  32.18436874,
         32.36472946,  32.54509018,  32.7254509 ,  32.90581162,
         33.08617234,  33.26653307,  33.44689379,  33.62725451,
         33.80761523,  33.98797595,  34.16833667,  34.34869739,
         34.52905812,  34.70941884,  34.88977956,  35.07014028],
       [ 35.250501  ,  35.43086172,  35.61122244,  35.79158317,
         35.97194389,  36.15230461,  36.33266533,  36.51302605,
         36.69338677,  36.87374749,  37.05410822,  37.23446894,
         37.41482966,  37.59519038,  37.7755511 ,  37.95591182,
         38.13627255,  38.31663327,  38.49699399,  38.67735471],
       [ 38.85771543,  39.03807615,  39.21843687,  39.3987976 ,
         39.57915832,  39.75951904,  39.93987976,  40.12024048,
         40.3006012 ,  40.48096192,  40.66132265,  40.84168337,
         41.02204409,  41.20240481,  41.38276553,  41.56312625,
         41.74348697,  41.9238477 ,  42.10420842,  42.28456914],
       [ 42.46492986,  42.64529058,  42.8256513 ,  43.00601202,
         43.18637275,  43.36673347,  43.54709419,  43.72745491,
         43.90781563,  44.08817635,  44.26853707,  44.4488978 ,
         44.62925852,  44.80961924,  44.98997996,  45.17034068,
         45.3507014 ,  45.53106212,  45.71142285,  45.89178357],
       [ 46.07214429,  46.25250501,  46.43286573,  46.61322645,
         46.79358717,  46.9739479 ,  47.15430862,  47.33466934,
         47.51503006,  47.69539078,  47.8757515 ,  48.05611222,
         48.23647295,  48.41683367,  48.59719439,  48.77755511,
         48.95791583,  49.13827655,  49.31863727,  49.498998  ],
       [ 49.67935872,  49.85971944,  50.04008016,  50.22044088,
         50.4008016 ,  50.58116232,  50.76152305,  50.94188377,
         51.12224449,  51.30260521,  51.48296593,  51.66332665,
         51.84368737,  52.0240481 ,  52.20440882,  52.38476954,
         52.56513026,  52.74549098,  52.9258517 ,  53.10621242],
       [ 53.28657315,  53.46693387,  53.64729459,  53.82765531,
         54.00801603,  54.18837675,  54.36873747,  54.5490982 ,
         54.72945892,  54.90981964,  55.09018036,  55.27054108,
         55.4509018 ,  55.63126253,  55.81162325,  55.99198397,
         56.17234469,  56.35270541,  56.53306613,  56.71342685],
       [ 56.89378758,  57.0741483 ,  57.25450902,  57.43486974,
         57.61523046,  57.79559118,  57.9759519 ,  58.15631263,
         58.33667335,  58.51703407,  58.69739479,  58.87775551,
         59.05811623,  59.23847695,  59.41883768,  59.5991984 ,
         59.77955912,  59.95991984,  60.14028056,  60.32064128],
       [ 60.501002  ,  60.68136273,  60.86172345,  61.04208417,
         61.22244489,  61.40280561,  61.58316633,  61.76352705,
         61.94388778,  62.1242485 ,  62.30460922,  62.48496994,
         62.66533066,  62.84569138,  63.0260521 ,  63.20641283,
         63.38677355,  63.56713427,  63.74749499,  63.92785571],
       [ 64.10821643,  64.28857715,  64.46893788,  64.6492986 ,
         64.82965932,  65.01002004,  65.19038076,  65.37074148,
         65.5511022 ,  65.73146293,  65.91182365,  66.09218437,
         66.27254509,  66.45290581,  66.63326653,  66.81362725,
         66.99398798,  67.1743487 ,  67.35470942,  67.53507014],
       [ 67.71543086,  67.89579158,  68.0761523 ,  68.25651303,
         68.43687375,  68.61723447,  68.79759519,  68.97795591,
         69.15831663,  69.33867735,  69.51903808,  69.6993988 ,
         69.87975952,  70.06012024,  70.24048096,  70.42084168,
         70.6012024 ,  70.78156313,  70.96192385,  71.14228457],
       [ 71.32264529,  71.50300601,  71.68336673,  71.86372745,
         72.04408818,  72.2244489 ,  72.40480962,  72.58517034,
         72.76553106,  72.94589178,  73.12625251,  73.30661323,
         73.48697395,  73.66733467,  73.84769539,  74.02805611,
         74.20841683,  74.38877756,  74.56913828,  74.749499  ],
       [ 74.92985972,  75.11022044,  75.29058116,  75.47094188,
         75.65130261,  75.83166333,  76.01202405,  76.19238477,
         76.37274549,  76.55310621,  76.73346693,  76.91382766,
         77.09418838,  77.2745491 ,  77.45490982,  77.63527054,
         77.81563126,  77.99599198,  78.17635271,  78.35671343],
       [ 78.53707415,  78.71743487,  78.89779559,  79.07815631,
         79.25851703,  79.43887776,  79.61923848,  79.7995992 ,
         79.97995992,  80.16032064,  80.34068136,  80.52104208,
         80.70140281,  80.88176353,  81.06212425,  81.24248497,
         81.42284569,  81.60320641,  81.78356713,  81.96392786],
       [ 82.14428858,  82.3246493 ,  82.50501002,  82.68537074,
         82.86573146,  83.04609218,  83.22645291,  83.40681363,
         83.58717435,  83.76753507,  83.94789579,  84.12825651,
         84.30861723,  84.48897796,  84.66933868,  84.8496994 ,
         85.03006012,  85.21042084,  85.39078156,  85.57114228],
       [ 85.75150301,  85.93186373,  86.11222445,  86.29258517,
         86.47294589,  86.65330661,  86.83366733,  87.01402806,
         87.19438878,  87.3747495 ,  87.55511022,  87.73547094,
         87.91583166,  88.09619238,  88.27655311,  88.45691383,
         88.63727455,  88.81763527,  88.99799599,  89.17835671],
       [ 89.35871743,  89.53907816,  89.71943888,  89.8997996 ,
         90.08016032,  90.26052104,  90.44088176,  90.62124248,
         90.80160321,  90.98196393,  91.16232465,  91.34268537,
         91.52304609,  91.70340681,  91.88376754,  92.06412826,
         92.24448898,  92.4248497 ,  92.60521042,  92.78557114],
       [ 92.96593186,  93.14629259,  93.32665331,  93.50701403,
         93.68737475,  93.86773547,  94.04809619,  94.22845691,
         94.40881764,  94.58917836,  94.76953908,  94.9498998 ,
         95.13026052,  95.31062124,  95.49098196,  95.67134269,
         95.85170341,  96.03206413,  96.21242485,  96.39278557],
       [ 96.57314629,  96.75350701,  96.93386774,  97.11422846,
         97.29458918,  97.4749499 ,  97.65531062,  97.83567134,
         98.01603206,  98.19639279,  98.37675351,  98.55711423,
         98.73747495,  98.91783567,  99.09819639,  99.27855711,
         99.45891784,  99.63927856,  99.81963928, 100.        ]])

# Thanks For Reading
I hope You Found Someting useful.